<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cevau.amando">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AmandoTheme">
        <activity android:name=".gui.Startseite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.HilfeAnzeigen"/>
        <activity android:name=".gui.GeoKontakteAuflisten"/>
        <activity android:name=".gui.EinstellungenBearbeiten"/>
        <activity android:name=".gui.Testseite"/>
    </application>

</manifest>